@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --rock:     rgb(182, 158, 49);
  --ghost:    rgb(112, 85, 155);
  --steel:    rgb(183, 185, 208);
  --water:    rgb(100, 147, 235);
  --grass:    rgb(116, 203, 72);
  --psychic:  rgb(251, 85, 132);
  --ice:      rgb(154, 214, 223);
  --dark:     rgb(117, 87, 76);
  --fairy:    rgb(230, 158, 172);
  --normal:   rgb(170, 166, 127);
  --fighting: rgb(193, 34, 57);
  --flying:   rgb(168, 145, 236);
  --poison:   rgb(164, 62, 158);
  --ground:   rgb(222, 193, 107);
  --bug:      rgb(167, 183, 35);
  --fire:     rgb(245, 125, 49);
  --electric: rgb(249, 207, 48);
  --dragon:   rgb(112, 55, 255);
  --default:  rgb(90, 90, 90);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(233, 233, 233);
}

#title h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

header {
  margin-bottom: 40px;
  background-color: rgb(150, 12, 12);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5)
}

header,
#search {
  display: flex;
  justify-content: center;
}

#search {
  align-items: center;
  gap: 6px;
}

#search input {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(90, 90, 90);
  min-width: 300px;
  height: 50px;
  padding: 8px;
  outline: 0;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 6px;
}

#search img {
  min-width: 42px;
  cursor: pointer;
}

#frame {
  display: flex;
  justify-content: center;
}

#pokedex {
  margin-top: 40px;
  min-height: 640px;
  min-width: 540px;
  border-radius: 6px;
  background-color: rgb(90, 90, 90);
  padding: 6px;
}

#header-top {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

#top {
  height: 40%;
  background: url(../assets/pokeball.png);
  background-repeat: no-repeat;
  background-position: right;
}

#image-placeholder {
  display: flex;
  justify-content: center;
}

#pokemon-image {
  width: 250px;
  height: 250px;
  /* border: 1px solid black; */
}

#pokemon-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  padding-top: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}

#types {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-transform: capitalize;
}

.type {
  background: var(--default);
  color: rgb(255, 255, 255);
  padding: 6px 16px;
  border-radius: 14px;
  font-size: 1rem;
  font-weight: 700;
  width: 100px;
  text-align: center;
}

#stats {
  margin-top: 25px;
  width: 95%;
}

#stats h3 {
  text-align: center;
  margin-bottom: 20px;
}

.stat-row {
  display: flex;
}

.stat-desc {
  text-align: right;
  font-weight: 700;
  padding-right: 15px;
  border-right: 2px solid black;
  min-width: 160px;
}

.stat-value {
  width: 60px;
  justify-content: left;
  padding-left: 15px;
  padding-right: 12px;
  font-weight: 700;
}

.stat-bar {
  width: 60%;
  display: flex;
  align-items: center;
}

.bar-outer {
  display: flex;
  width: 255%;
  height: 7px;
  border-radius: 4px;
  background-color: rgba(88, 88, 88, 0.3);
}

.bar-inner {
  border-radius: 4px;
  width: 35%;
  background-color: rgb(95, 95, 95);
}