@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

:root {
  --rock: rgb(182, 158, 49);
  --rockAlpha: rgba(182, 158, 49, .3);
  --ghost: rgb(112, 85, 155);
  --ghostAlpha: rgba(112, 85, 155, .3);
  --steel: rgb(183, 185, 208);
  --steelAlpha: rgba(183, 185, 208, .3);
  --water: rgb(100, 147, 235);
  --waterAlpha: rgba(100, 147, 235, .3);
  --grass: rgb(116, 203, 72);
  --grassAlpha: rgba(116, 203, 72, .3);
  --psychic: rgb(251, 85, 132);
  --psychicAlpha: rgba(251, 85, 132, .3);
  --ice: rgb(154, 214, 223);
  --iceAlpha: rgba(154, 214, 223, .3);
  --dark: rgb(117, 87, 76);
  --darkAlpha: rgba(117, 87, 76, .3);
  --fairy: rgb(230, 158, 172);
  --fairyAlpha: rgba(230, 158, 172, .3);
  --normal: rgb(170, 166, 127);
  --normalAlpha: rgba(170, 166, 127, .3);
  --fighting: rgb(193, 34, 57);
  --fightingAlpha: rgba(193, 34, 57, .3);
  --flying: rgb(168, 145, 236);
  --flyingAlpha: rgba(168, 145, 236, .3);
  --poison: rgb(164, 62, 158);
  --poisonAlpha: rgba(164, 62, 158, .3);
  --ground: rgb(222, 193, 107);
  --groundAlpha: rgba(222, 193, 107, .3);
  --bug: rgb(167, 183, 35);
  --bugAlpha: rgba(167, 183, 35, .3);
  --fire: rgb(245, 125, 49);
  --fireAlpha: rgba(245, 125, 49, .3);
  --electric: rgb(249, 207, 48);
  --electricAlpha: rgba(249, 207, 48, .3);
  --dragon: rgb(112, 55, 255);
  --dragonAlpha: rgba(112, 55, 255, .3);

  --colorDefault: rgb(90, 90, 90);
  --bodyColor: rgb(233, 233, 233);
  --fontColorWhite: rgb(255, 255, 255);
  --borderColorInput: rgb(158, 158, 158);
  --backgroundHeader: rgb(150, 12, 12);
  --backgroundWhite: rgb(255, 255, 255);
  --boxShadow: rgba(0, 0, 0, 0.5);
  --backgroundFade: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

body {
  background-color: var(--bodyColor);
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 40px;
  background-color: var(--backgroundHeader);
  box-shadow: 1px 2px 3px var(--boxShadow);
}

#title img {
  display: flex;
  align-items: center;
  width: 230px;
  height: 80px;
}

.container {
  padding: 40px;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  padding-inline-start: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundWhite);
  width: 240px;
  height: 308px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px;
  padding: 6px;
}

.card .image {
  background-image: url(../assets/pokeball.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  margin-bottom: 2px;
}

.card .image img {
  width: 215px;
  height: 215px;
}

.card .id {
  font-size: 0.9rem;
  font-weight: 700;
  color: #6e6b6b;
  margin-left: 6px;
  margin-bottom: 10px;
}

.card .name {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-left: 6px;
  margin-bottom: 2px;
}

.card .types {
  margin-left: 6px;
}

.card .type {
  display: inline-block;
  padding: 2px;
  background-color: var(--colorDefault);
  width: 100px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #FFF;
}

.card:hover {
  animation: bounce 0.5s linear;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}