@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root {
  --rock: rgb(182, 158, 49);
  --rockAlpha: rgba(182, 158, 49, .3);
  --ghost: rgb(112, 85, 155);
  --ghostAlpha: rgba(112, 85, 155, .3);
  --steel: rgb(183, 185, 208);
  --steelAlpha: rgba(183, 185, 208, .3);
  --water: rgb(100, 147, 235);
  --waterAlpha: rgba(100, 147, 235, .3);
  --grass: rgb(116, 203, 72);
  --grassAlpha: rgba(116, 203, 72, .3);
  --psychic: rgb(251, 85, 132);
  --psychicAlpha: rgba(251, 85, 132, .3);
  --ice: rgb(154, 214, 223);
  --iceAlpha: rgba(154, 214, 223, .3);
  --dark: rgb(117, 87, 76);
  --darkAlpha: rgba(117, 87, 76, .3);
  --fairy: rgb(230, 158, 172);
  --fairyAlpha: rgba(230, 158, 172, .3);
  --normal: rgb(170, 166, 127);
  --normalAlpha: rgba(170, 166, 127, .3);
  --fighting: rgb(193, 34, 57);
  --fightingAlpha: rgba(193, 34, 57, .3);
  --flying: rgb(168, 145, 236);
  --flyingAlpha: rgba(168, 145, 236, .3);
  --poison: rgb(164, 62, 158);
  --poisonAlpha: rgba(164, 62, 158, .3);
  --ground: rgb(222, 193, 107);
  --groundAlpha: rgba(222, 193, 107, .3);
  --bug: rgb(167, 183, 35);
  --bugAlpha: rgba(167, 183, 35, .3);
  --fire: rgb(245, 125, 49);
  --fireAlpha: rgba(245, 125, 49, .3);
  --electric: rgb(249, 207, 48);
  --electricAlpha: rgba(249, 207, 48, .3);
  --dragon: rgb(112, 55, 255);
  --dragonAlpha: rgba(112, 55, 255, .3);

  --colorDefault: rgb(90, 90, 90);
  --bodyColor: rgb(233, 233, 233);
  --fontColorWhite: rgb(255, 255, 255);
  --borderColorInput: rgb(158, 158, 158);
  --backgroundHeader: rgb(150, 12, 12);
  --backgroundWhite: rgb(255, 255, 255);
  --boxShadow: rgba(0, 0, 0, 0.5);
  --backgroundFade: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bodyColor);
}

#title img {
  display: flex;
  align-items: center;
  width: 230px;
  height: 80px;
}

header {
  padding: 10px 0;
  margin-bottom: 40px;
  background-color: var(--backgroundHeader);
  box-shadow: 1px 2px 3px var(--boxShadow);
}

header {
  display: flex;
  justify-content: center;
}

#search {
  display: flex;
  align-items: center;
  width: 370px;
  background-color: var(--backgroundHeader);
  gap: 11px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid var(--borderColorInput);
}

#search input {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--colorDefault);
  width: 320px;
  height: 50px;
  padding: 8px;
  outline: 0;
  border: 1px solid var(--borderColorInput);
  border: none;
  border-radius: 8px 0 0 8px;
}

#search img {
  width: 25px;
  cursor: pointer;
}

#frame {
  display: flex;
  justify-content: center;
  width: 460px;
  height: 690px;
  margin: auto;
  background-color: var(--backgroundWhite);
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0px 0px 4px;
}

#pokedex {
  min-height: 670px;
  min-width: 440px;
  border-radius: 12px;
  background-color: var(--colorDefault);
  padding: 6px;
  transition: background-color 0.3s ease-in-out;
}

#header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--backgroundWhite);
}

#pokemon-id {
  font-size: 1.2rem;
}

#pokemon-name {
  font-size: 1.6rem;
}

#top {
  height: 35%;
  background: url(../assets/pokeball.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 430px;
}

#image-placeholder {
  display: flex;
  justify-content: center;
  transform: translateY(31px);
}

#pokemon-image {
  width: 220px;
  height: 220px;
}

#pokemon-data {
  padding-top: 40px;
  height: 64%;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--fontColorWhite);
  border-radius: 8px;
}

#about {
  display: flex;
  flex-direction: column;
  width: 283px;
}

#sub-title-about {
  text-align: center;
  margin-bottom: 10px;
}

#specs {
  display: flex;
  height: 70px;
  gap: 24px;
  justify-content: center;
}

#value-weight {
  width: 58px;
  font-size: 0.9rem;
  text-align: center;
}

#value-height {
  width: 45px;
  font-size: 0.9rem;
  text-align: center;
}

#weight,
#height {
  height: 70px;
  justify-content: space-between;
}

#height img{
  width: 24px;
}

#line-separator {
  width: 2px;
  height: 70px;
  background-color: var(--borderColorInput);
  margin-right: 10px;
}

.text-characteristics {
  font-size: 0.8rem;
  text-align: center;
  color: var(--colorDefault);
  font-weight: 600;
}

.characteristics {
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  gap: 8px;
}

.icon img {
  height: 24px;
}

#types {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-transform: capitalize;
}

.type {
  background: var(--default);
  color: var(--fontColorWhite);
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 700;
  width: 75px;
  text-align: center;
}

#stats {
  display: flex;
  flex-direction: column;
  width: 95%;
}

#sub-title-base-stat {
  text-align: center;
  margin-bottom: 10px;
}

.stat-row {
  display: flex;
}

.stat-desc,
.stat-value {
  width: 18%;
  font-size: 1rem;
}

.stat-desc {
  text-align: right;
  font-weight: 700;
  font-size: 0.9rem;
  padding-right: 15px;
  min-width: 146px;
  border-right: 2px solid var(--borderColorInput);
  transition: color .3s ease-in-out;
}

.stat-value {
  width: 60px;
  text-align: justify;
  padding-left: 15px;
  padding-right: 12px;
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--colorDefault);
}

.stat-bar {
  width: 55%;
  display: flex;
  align-items: center;
}

.bar-outer {
  display: flex;
  width: 255%;
  height: 7px;
  border-radius: 4px;
}

.bar-inner {
  border-radius: 4px;
  transition: .3s ease-in-out;
}

button {
  padding: 6px 12px;
  background-color: var(--backgroundHeader);
  color: var(--fontColorWhite);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1rem;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  z-index: -1;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundFade);
  z-index: 5;
  transition: 0.3s;
}

#modal {
  position: fixed;
  left: 50%;
  top: 40%;
  background-color: var(--bodyColor);
  transform: translate(-50%, -50%);
  width: 400px;
  height: 120px;
  max-width: 90%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--borderColorInput);
  z-index: 10;
  transition: 0.3s;
}

.modal-body {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

#modal.hide {
  top: 35%;
}